{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<a href="{% url 'index' %}" class="navbar-brand">Network-tools</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse1">
		<div class="navbar-nav">
			<a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
			<a href="{% url 'spf' %}" class="nav-item nav-link">SPF</a>
			<a href="{% url 'dkim' %}" class="nav-item nav-link">DKIM</a>
			<a href="{% url 'tracking' %}" class="nav-item nav-link active">TRACKING</a>
			<a href="{% url 'return_path' %}" class="nav-item nav-link">RETURN PATH</a>
			<a href="{% url 'pages' %}" class="nav-item nav-link">PAGES</a>
			<a href="{% url 'host' %}" class="nav-item nav-link">HOST</a>
		</div>
	</div>
</nav>
<br>
<h3> Verificar TRACKING </h3>
<form method="POST" class="form-group">
	{% csrf_token %}
	<!--{{ form.as_p }}-->
	{{ form|crispy }}
	<input class="btn btn-primary" value="Enviar" type="submit"></input>
</form><br>
<div style="display: none" id="tracking">
	<div class="alert alert-dark" role="alert">
		Consulta Tracking: {{ form.data.nome }}
	</div>
	<div class="alert alert-secondary" role="alert">
		<pre>{{ result }} </pre>
	</div>
</div>
	<script>
		var consult = "{{form.data.nome}}";
		if (consult != "") {
			document.getElementById("tracking").style.display = 'inline';
			console.log("{{ form.data.nome }}");
		}		
	</script>
{% endblock %}